@use 'variables' as *;
@use 'poster-grid';

@include poster-grid.layout;

button {
  background-color: $white;
  border-radius: 50%;
  bottom: 15%;
  color: $red;
  cursor: pointer;
  font-size: 1.2rem;
  height: 3rem;
  margin: .5rem;
  position: relative;
  transition: 0.4s ease-in-out;
  text-align: center;
  width: 3rem;
  &:hover {
    color: $dark-red;
    box-shadow: 2px 3px 6px $gray;
  }
}
